.root {
    -fx-background-color: #8FC0A9;
}

.label {
    -fx-font: 24px "Helvetica";
    -fx-text-fill: #FAF3DD;
    -fx-text-alignment: center;
}

.button {
    -fx-font: 16px "Helvetica";
    -fx-background-color: #FAF3DD;
    -fx-padding: 5;
}

.rectangle {
    -fx-fill: #FAF3DD;
}

.circle {
    -fx-fill: #FAF3DD
}

#gardenPane {
    -fx-background-color: #4A7C59;
}
