.root {
    -fx-background-color: #432818;
}

.label {
    -fx-font: 24px "Helvetica";
    -fx-text-fill: #FFFFFF;
    -fx-text-alignment: center;
}

.button {
    -fx-font: 16px "Helvetica";
    -fx-background-color: #6EF9F5;
    -fx-padding: 5;
}

.rectangle {
    -fx-background-image: url("https://images.pexels.com/photos/355748/pexels-photo-355748.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

.circle {
    -fx-fill: #FAF3DD
}

#gardenPane {
    -fx-background-color: #399E5A;
    -fx-border-style: solid;
    -fx-border-width: 5px;
}
