.root {
    -fx-background-color: #AA8155;
}

.label {
    -fx-font: 24px "Helvetica";
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
    -fx-text-alignment: center;
}

.button {
    -fx-font: 16px "Helvetica";
    -fx-background-color: #EFD6AE;
    -fx-padding: 5;
}

.rectangle {
    -fx-background-image: url('rectbed.png');
}

.circle {
    -fx-background-image: url('circlebed.png');
}

#gardenPane {
    -fx-background-color: #A6C48A;
    -fx-border-style: solid;
    -fx-border-width: 5px;
    -fx-border-color: #678D58;
}
